@if(control().invalid && (control().dirty || control().touched) && control().enabled){ 
    @if (control().getError('required')) {
        <p>Le champs est requis.</p>
    } 
    @if(control().getError('maxlength')){
        <p>
        Le champs est trop long (
        {{ control().getError("maxlength").actualLength }}
        /
        {{ control().getError("maxlength").requiredLength }}
        )
        </p>
    } 
    @if(control().getError('minlength')){
        <p>
        Le champs est trop court ( min :
        {{ control().getError("minlength").requiredLength }}
        )
        </p>
    } 
    @if(control().getError('min')){
        <p>La valeur est trop petite (min : {{ control().getError('min').min}}).</p>
    }
    @if(control().getError('max')){
        <p>La valeur est trop grande (max : {{ control().getError('max').max}}).</p>
    }
    @if(control().getError('email')){
        <p>L'email n'est pas valide.</p>
    }
    @if(control().getError('pattern')){
        @if(control().getError('pattern').requiredPattern == Patterns.ZIP_CODE){
            <p>Code postal invalide.</p>
        }
    }
    @if(control().getError('notBefore')){
        <p>La date doit être plus petite que {{control().getError('notBefore').date | date}}.</p>
    }
    @if(control().getError('listlength')){
        <p>Le nombre d'éléments doit être compris entre {{control().getError('listlength').min}} et {{control().getError('listlength').max}}.</p>
    }
}
