<h2>Strings</h2>
<p>Affichage brut: {{ chaine }}</p>
<p>Affichage en majuscule: {{ chaine | uppercase }}</p>
<p>Affichage en minuscule: {{ chaine | lowercase }}</p>
<p>Affichage en titre: {{ chaine | titlecase }}</p>
<p>Echappement auto: {{ html }}</p>
<p [innerHTML]="html"></p>

<h2>Nombres</h2>
<p>Affichage du nombre: {{ nombre }}</p>
<p>Affichage formaté: {{ nombre | number : '0.0-2' : 'fr-BE' }}</p>

<h2>Dates</h2>
<p>Affichage brut {{ date }}</p>
<p>Affichage formatté {{ date | date : 'le d MMMM yyyy' : undefined:  'fr-BE' }}</p>
<p>Affichage formatté {{ date | date : 'dd/MM/yyyy' }}</p>

<h2>Boucles</h2>
@for (item of tableau; track $index) {
    <p>{{ item }}</p>
}

<h2>Custom Pipes</h2>
@for (item of tableau | sliceArray : 2; track $index) {
    <p>{{ item }}</p>
}
