<!-- contenu commun des pages -->
<header>
  Demo Angular Standalone
  <p>{{temp}}°C</p>
  <p>
    {{ count() }} éléments
    <button (click)="deleteAll()">Tout effacer</button>
  </p>
</header>

<div class="flex">
<nav>
  <ul>
    @for (r of navRoutes; track $index) {
      @if(r.show) {
        <li><a [routerLink]="r.path" routerLinkActive="active">{{ r.title }}</a></li>
      }
    }
  </ul>
</nav>

<main>
  <!-- les pages s'afficheront ici -->
  <router-outlet></router-outlet>
  <!-- contenu commum des pages -->
  <footer>&copy; 2025 - Digital City</footer>
</main>
</div>

<p-toast></p-toast>



